.Experiences{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Experiences .experiences-container{
    width: 80%;
    height: 90%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;/* Firefox */
    -ms-overflow-style: none;/* Internet Explorer 10+ */
}
.experiences-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(168, 118, 230, 0.7);
    color: #89CFF0;
    border: none;
    border-radius: 55%;
    width: 2vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    z-index: 1;
}

.scroll-button.left {
    left: 85px;
}

.scroll-button.right {
    right: 85px;
}
@media (max-width: 768px) {
    .scroll-button {
        width: 4vw;
        height: 8vh;
    }
}
