*{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}
.Heropage{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
.Heropage .hero-container{
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-left: 2px solid #a876e6;
}
.Heropage .hero-container h1{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
}
.Heropage .hero-container h2 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}
.Heropage .hero-container button{
    background-color: #a876e6;
    width: 10vw;
    height: 7vh;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    transition: transform 0.3s ease; /* Smooth transition */
}
.Heropage .hero-container button .hero-link{
    color: #ffffff;
}
.Heropage .hero-container button:hover{
    background-color: #89CFF0;
    cursor: pointer;
    transform: scale(1.1); /* Increase size by 10% */
}
@media only screen and (max-width: 1115px){
    .Heropage .hero-container{
        width: 70%;
        color: black;
    }
    .Heropage .hero-container button{
        width: 30%;
        height: 17%;
        border-radius: 10px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 362px){
    .Heropage .hero-container {
        width: 80%;
    }
}

@media only screen and (max-width: 520px){
    .Heropage .hero-container button{
        width: 50%;
        /* height: 25% */
    }
}
