*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavBar{
    width: 100vw;
    height: 10vh;
    background-color: rgba(168, 118, 230, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    
}
.NavBar .navbar-container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavBar .navbar-container .logo-container{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.NavBar .navbar-container .logo-container .logo{
    width: 50px;
    height: 50px;
}
.NavBar .navbar-container .navigation{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.NavBar .navbar-container .navigation a{
    color: white;
}
.nav-btn{
    background: transparent;
    width: 25px;
    border: none;
    outline: none;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}
@media only screen and (max-width: 1024px){
    .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgba(168, 118, 230, 0.7);
        transition: 1s;
        transform: translateY(-100vh);
    }
    .responsive_nav{
        transform: none;
    }
    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}