body{
    list-style-type: circle;
}
.Skills{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Skills h2{
    /* height: 7vh; */
    color: rgba(168, 118, 230, 0.5);;
    font-size: 35px;
    overflow: hidden;
}
.Skills .skills-container{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Skills .skills-container .tech-skills{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Skills .skills-container .tech-skills .tech-skills-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #89CFF0;
    border-radius: 15px;
    line-height: 25px;
}
h4{
    color: rgba(168, 118, 230, 0.7);;
    text-decoration: dotted;
}
.Skills .skills-container .soft-skills {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Skills .skills-container .soft-skills .soft-skills-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #89CFF0;
    border-radius: 15px;
    line-height: 25px;
}
.Skills .skills-container .software-proficiency{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #89CFF0;
    border-radius: 15px;
}
.Skills .skills-container .software-proficiency h4{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Skills .skills-container .software-proficiency .software-image{
    width: 70%;
    height: 90%;
    background-image: url(../Images/softwareproficiency.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1024px){
    .Skills {
        height: 80vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .Skills .skills-container {
        width: 80%;
        height: 100%;
        /* flex-direction: column; */
        justify-content: space-between; 
        align-items: center;
    }
    .Skills .skills-container .soft-skills{
        height: 70%;
        width: 80%;
    }
    .Skills .skills-container .soft-skills .soft-skills-container {
        justify-content: center;
    }
    .Skills .skills-container .tech-skills {
        height: 70%;
        width: 80%;
    }
    .Skills .skills-container .software-proficiency {
        height: 70%;
        width: 60%;
    }

}
@media only screen and (max-width: 853px){
    .Skills .skills-container{
        flex-direction: column;
        justify-content: space-between;
    }
    .Skills .skills-container .soft-skills {
        height: 35%;
        width: 80%;
    }
    .Skills .skills-container .soft-skills .soft-skills-container {
        justify-content: center;
    }
    .Skills .skills-container .tech-skills {
        height: 35%;
        width: 80%;
    }
    .Skills .skills-container .software-proficiency {
        height: 25%;
        width: 62%;
    }
}